body {
    color:azure
    *blackground-image; linear-gradient: ( aqua, azure)*
    
    }

p,ul {
       color : azure;
       background-color: #cccccc;
       font-size: 20px; /* texto centralizado*/
       text-align: center;
}
.TITULO: {
     color: aqua;
     font-size: 24px;
     }
     font-size: 10px; color: #333333;
     list-style: 5px; Color /*TEXTO/*>
    }